/*  ----------- General  ----------- */
:root {
  --colorFondo: rgb(58, 157, 58);
  --colorNavBar: rgb(43, 41, 41);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--colorFondo);
}

html {
  /* scroll suave */
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*  ----------- Top Nav  ----------- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 5%;
  background-color: var(--colorNavBar);
  position: fixed;
  width: 100%;
}
.nav__h2 {
  background-color: var(--colorNavBar);
  color: white;
}
.nav__ul {
  /* cursor: pointer; */
  list-style: none;
  background-color: var(--colorNavBar);
}
.nav__li {
  display: inline-block;
  padding: 0px 20px;
  background-color: var(--colorNavBar);
}
.nav__link {
  text-decoration: none;
  color: white;
  background-color: var(--colorNavBar);
}
.nav__link1 {
  color: rgb(58, 157, 58);
}
.nav__link:hover {
  transition: all 0.3s ease 0s;
  color: rgb(84, 155, 84);
}
.nav__button {
  border: none;
  background-color: var(--colorFondo);
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
}
.nav__button:hover {
  transition: 0.3s ease 0s;
  transform: scale(1.3);
  cursor: pointer;
}

/* ----------- Gallery -------------- */
.galeria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Creando 5 columnas con el mismo ancho */
  grid-auto-rows: 180px;
  /* Haciendo de alto 180px */
  grid-template-areas:
    "img2 img3 img3 img5 img1 "
    "img2 img3 img3 img8 img8"
    "img10 img10 img9 img8 img8"
    "img10 img10 img4 img6 img7";
  gap: 0.2em;
  padding: 50px 0px 0px 0px;
  
}
.galeria__item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.item1::before {
  content: "Nevado de Toluca, State of Mexico";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform .4s;
 
}
.item1:hover::before{
  transform: scale(1);
}

.item2::before {
  content: "Cenotes Cancun, MX";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform .4s;
 
}
.item2:hover::before{
  transform: scale(1);
}
.item3::before {
  content: "Cenotes Tulum, MX";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform .4s;
 
}
.item3:hover::before{
  transform: scale(1);
}
.item4::before {
  content: "hola";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform .4s;
 
}
.item4:hover::before{
  transform: scale(1);
}
.item5::before {
  content: "hola";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform .4s;
 
}
.item5:hover::before{
  transform: scale(1);
}


.item6::before {
  content: "hola";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform .4s;
 
}
.item6:hover::before{
  transform: scale(1);
}

.item7::before {
  content: "hola";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform .4s;
 
}
.item7:hover::before{
  transform: scale(1);
}

.item8::before {
  content: "hola";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform .4s;
 
}
.item8:hover::before{
  transform: scale(1);
}
.item9::before {
  content: "hola";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform .4s;
 
}
.item9:hover::before{
  transform: scale(1);

}

.item10::before {
  content: "hola";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform .4s;
 
}
.item10:hover::before{
  transform: scale(1);
}

.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
}
.img9 {
  grid-area: img9;
}
.img10 {
  grid-area: img10;
}

















.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  ----------- Introduction  ----------- */
.intro {
}
.intro__h2 {
  padding: 10vh 0vh 0vh 0vh;
}

/*  ----------- Trees  ----------- */
.tree {
}
.tree__h2 {
  padding: 12vh 0vh 0vh 0vh;
}

/*  ----------- Prices  ----------- */
.price {
}
.price__h2 {
  padding: 12vh 0vh 0vh 0vh;
}

/*  ----------- Importance  ----------- */
.importance {
}
