/*  ----------- General  ----------- */
:root {
  --colorFondo: rgb(58, 157, 58);
  --colorNavBar: rgb(43, 41, 41);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--colorFondo);
}

html {
  /* scroll suave */
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*  ----------- Top Nav  ----------- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 5%;
  background-color: var(--colorNavBar);
  position: fixed;
  width: 100%;
}
.nav__h2 {
  background-color: var(--colorNavBar);
  color: white;
}
.nav__ul {
  /* cursor: pointer; */
  list-style: none;
  background-color: var(--colorNavBar);
}
.nav__li {
  display: inline-block;
  padding: 0px 20px;
  background-color: var(--colorNavBar);
}
.nav__link {
  text-decoration: none;
  color: white;
  background-color: var(--colorNavBar);
}
.nav__link1 {
  color:rgb(58, 157, 58)
}
.nav__link:hover {
  transition: all 0.3s ease 0s;
  color: rgb(84, 155, 84);
}
.nav__button {
  border: none;
  background-color: var(--colorFondo);
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
}
.nav__button:hover {
  transition: 0.3s ease 0s;
  transform: scale(1.3);
  cursor: pointer;
}

/* ----------- Galeria -------------- */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* Auto-fill: Genera columnas automaticamente */
  /* min-max: 250px como minimo se va a adaptar y como maximo 1fr que es decir hasta que de el maximo la pantalla */
  grid-auto-rows: minmax(200px, 1fr);
  /* Ajusta el tamaño de las filas 200px es lo minimo y 1fr lo maximo */
  grid-auto-flow: dense;
  /* Acomoda todos los elementos del grid para no dejar espacios */
  gap: 5px;
}
.galeria__item {

}
.galeria__img {
  /* Para que la imagen se adapte al espacio del grid */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 600px) { /* Lo que esta dentro solo se aplicara despues de los 600px */
 .wide {
  grid-column: span 2; /* Las que tengan esta clase tomaran 2 espacios a lo ancho */
} 
.exwide{
  grid-column: span 4;
}
.tall {
  grid-row: span 2; /* Las que tengan esta clase tomaran 2 espacios a lo largo */
}
}


/*  ----------- Introduction  ----------- */
.intro {
}
.intro__h2 {
  padding: 10vh 0vh 0vh 0vh;
}

/*  ----------- Trees  ----------- */
.tree {
}
.tree__h2 {
  padding: 12vh 0vh 0vh 0vh;
}

/*  ----------- Prices  ----------- */
.price {
}
.price__h2 {
  padding: 12vh 0vh 0vh 0vh;
}

/*  ----------- Importance  ----------- */
.importance {
}
