/*  ----------- General  ----------- */
:root {
  --colorFondo: rgb(58, 157, 58);
  --colorNavBar: rgb(43, 41, 41);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--colorFondo);
}

html {
  /* scroll suave */
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*  ----------- Top Nav  ----------- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--colorNavBar);
  position: fixed;
  z-index: 99; /* Modifica el orden de apilamiento, asi que la navbar siempre estara por encima de lo demás */
  width: 100%;
}
.nav__h2 {
  background-color: var(--colorNavBar);
  color: white;
}
.nav__ul {
  /* cursor: pointer; */
  list-style: none;
  background-color: var(--colorNavBar);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__li {
  display: inline-block;
  padding: 0px 20px;
  background-color: var(--colorNavBar);
  margin-left: 5rem;
}
.nav__link {
  text-decoration: none;
  color: white;
  background-color: var(--colorNavBar);
}
.nav__link1 {
  color: rgb(58, 157, 58);
}
.nav__link:hover {
  transition: all 0.3s ease 0s;
  color: rgb(84, 155, 84);
}
.nav__button {
  border: none;
  background-color: var(--colorFondo);
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
}
.nav__button:hover {
  transition: 0.3s ease 0s;
  transform: scale(1.3);
  cursor: pointer;
}
.hamburger {
  display: none;
  background-color: var(--colorNavBar);
}
.bar {
  display: block; /* Hace que se apilen en bloque y creen el menu sandwich */
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out; /* Ayuda a hacer la transicion de menu sandwich a "x" */
  background-color: var(--colorFondo);
}
@media only screen and (max-width: 768px) {
  .nav__ul {
    position: fixed; /* Hace que los elementos dentro de nav__ul se metan en el menu de sandwich */
    left: -100%; /* Manda los elementos completamente hacia la izquierda */
    top: 5rem; /* Le da un top para que cuando los elementos aparezcan no se encimen con la top nav-bar */
    flex-direction: column; /* Apila los elementos en columna */
    width: 100%; /* Le da todo el ancho de la pantalla a la caja los elementos */
    border-radius: 15px;
    text-align: center;
    transition: 0.3s; /* Le da la transicion a la caja con los elementos en este caso se tardaria 0.3s aparecer */
  }
  .nav__ul.active {
    left: 0; /* Aparece los elementos */
  }
  .nav__li {
    margin: 2rem 0; /* Le da separacion entre los elementos del nav__li */
  }
  .hamburger {
    display: block; /* Hace que ahora si aparezca el menu de sandwich */
    cursor: pointer;
  }

  /* Estas 3 lineas hacen que el menu de sandwich se convierta en una "x" cuando se le da click */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* ----------- Gallery -------------- */
.galeria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* Creando 5 columnas con el mismo ancho */
  grid-auto-rows: 180px;
  /* Haciendo de alto 180px */
  grid-template-areas:
    "img2 img3 img3 img5 img1 "
    "img2 img3 img3 img8 img8"
    "img10 img10 img9 img8 img8"
    "img10 img10 img4 img6 img7";
  gap: 0.2em;
  padding: 35px 0px 0px 0px;
}
.galeria__item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.item1::before {
  content: "Nevado de Toluca, State of Mexico";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
}
.item1:hover::before {
  transform: scale(1);
}

.item2::before {
  content: "Cenotes, Quintana Roo";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
}
.item2:hover::before {
  transform: scale(1);
}
.item3::before {
  content: "Cenotes, Quintana Roo";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
}
.item3:hover::before {
  transform: scale(1);
}
.item4::before {
  content: "Chinampas, Mexico City";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
}
.item4:hover::before {
  transform: scale(1);
}
.item5::before {
  content: "Basaltic Prisms, Hidalgo";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
}
.item5:hover::before {
  transform: scale(1);
}

.item6::before {
  content: "Sumidero Canyon, Chiapas";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
}
.item6:hover::before {
  transform: scale(1);
}

.item7::before {
  content: "Guayabitos, Nayarit";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
}
.item7:hover::before {
  transform: scale(1);
}

.item8::before {
  content: "Copper Canyon, Chihuahua";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
}
.item8:hover::before {
  transform: scale(1);
}
.item9::before {
  content: "Puerto Vallarta, Jalisco";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
}
.item9:hover::before {
  transform: scale(1);
}

.item10::before {
  content: "The Comalcalco, Tabasco";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(58, 157, 58, 0.6);
  transform: scale(0);
  transition: transform 0.4s;
}
.item10:hover::before {
  transform: scale(1);
}

.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
}
.img9 {
  grid-area: img9;
}
.img10 {
  grid-area: img10;
}

.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .galeria {
    padding: 35px 0px 0px 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img1 img2"
      "img3 img2"
      "img4 img4"
      "img4 img4"
      "img5 img6"
      "img7 img8"
      "img7 img8"
      "img9 img10";
  }
  .galeria__item {
    font-size: 0.8rem;
  }
}

/*  ----------- Introduction  ----------- */
/* .intro {
  height: 600px;
}
.intro__h2 {
  padding: 15vh 0vh 0vh 0vh;
}
.intro__img {
  width: 300px;
  position: relative;
  left: 130vh;
  bottom: 40vh;
}
 */

.intro {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin-right: 30px;
}

.intro__h2 {
  padding: 10vh 0vh 0vh 0vh;
  color: #E29E22;
  text-shadow: 2px 2px 1px black;
  text-transform: uppercase;
}


.intro__img {
  width: 300px;
  margin-right: 10vh;
  margin-top: 5vh;
 /*  position: relative;
  left: 120vh;
  bottom: 25vh; */
}

/*  ----------- Trees  ----------- */
.tree__h2 {
  padding: 12vh 0vh 5vh 0vh; color: #E29E22;
  text-shadow: 2px 2px 1px black;
  text-transform: uppercase;
}

/* Para el cactus */
.tree1 {
  background-color: var(--colorNavBar);
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 20px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.tree__1 {
  background-color: initial;
  color: white;
}
.tree__h1 {
  background-color: initial;
}
.tree__p {
  background-color: initial;
}

/* Para el Maguey */
.tree2 {
  background-color: var(--colorNavBar);
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 20px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.tree__2 {
  background-color: initial;
  color: white;
}


/* Para la Pitaya */
.tree3 {
  background-color: var(--colorNavBar);
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 20px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.tree__3 {
  background-color: initial;
  color: white;
}

/* Para Cempasuchil */
.tree4 {
  background-color: var(--colorNavBar);
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 20px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.tree__4 {
  background-color: initial;
  color: white;
}

/* Para Jacarandas */
.tree5 {
  background-color: var(--colorNavBar);
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding: 20px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.tree__5 {
  background-color: initial;
  color: white;
}

/* Para las Imagenes */
.tree__img {
  max-width: 250px;
  height: 400px;
  padding: 1rem;
  border-radius: 30px;
  background-color: initial;
}


/*  ----------- Prices  ----------- */
.price {
  margin: 40px 40px 18% 20%;
  width: 800px;
  height: auto;
}
.price__table {
  width: 100%;
  background-color: var(--colorNavBar);
  text-align: left;
  color: whitesmoke;
  border-collapse: collapse;
  border: 5px whitesmoke solid;
}
.price__h2 {
  padding: 12vh 0vh 0vh 0vh; 
  color: #E29E22;
  text-shadow: 2px 2px 1px black;
  text-transform: uppercase;
}
th,
td {
  padding: 20px;
  background-color: initial;
}
tbody,
tr {
  background-color: initial;
  background-color: var(--colorNavBar);
}

.tr_head {
  background-color: initial;
  background-color: var(--colorNavBar);
  border-bottom: 7px solid whitesmoke;
  color: whitesmoke;
  font-style: oblique;
}

tr:nth-child(even) {
  background-color: rgba(58, 157, 58, 0.7);
}

tr:hover td {
  background-color: #5cc638;
  background-color: #b65c11;
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  .price {
    width: 400px;
  }


}

/*  ----------- Importance  ----------- */
.importance {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  margin-right: 30px;
}

.importance__h2 {
  color: #E29E22;
  text-shadow: 2px 2px 1px black;
  text-transform: uppercase;
}

.img__importance {
  width: 300px;
 /*  position: relative;
  left: 120vh;
  bottom: 25vh; */
} 

